body{
    background: url("../images/eeveebackground.png");
    background-size: 1500px; 
    max-width:100%;
    max-height: 100%;
    background-attachment: fixed;
    color: rgba(245, 189, 126, 0.986);
}
.button-image{
    width: 100%;
    padding: 0%; 
    
}

#eevee{
    max-width: 200px; 
}
.pokemon{
    width: 100%;
    max-width: 350px;
    margin: 0 auto; 
}
.gem{
 max-width:180px; 
 padding: 0%; 
 
}
#gemsrow{
    align-content: center;
    padding-left: 0%;
    
}
.none{
    display: none; 
}

.bold{
    font-weight: bold;
}

#rules{
    margin-bottom: 50px; 
}

