#one{
    width: 200px;
    height: 300px;
}
#two{
    width: 200px;
    height: 300px;
}
#three{
    width: 200px;
    height: 300px;
}
#four{
    width: 200px;
    height: 300px;
}
#five{
    width: 200px;
    height: 300px;
}
#eevee{
    width: 350px; 
    height: 400px;
}
#gemsrow{
    align-content: center;
}

